<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @order.restaurant.name %>
</p>

<p>
  <strong>Customer:</strong>
  <%= @order.customer.name %>
  <%= @order.menu_items.ids%>
</p>


